<%- include("./partials/header") %>

<p>Username: <%= contractor.username %></p>
<p>Email: <%= contractor.email %></p>

<form action="/profile/edit" method="get">
    <input type="submit" value="Edit Profile" />
</form>

<%- include("./partials/footer") %>
