<%- include("../partials/header") %>

<div class="w3-container">
	<p> </p>
	<ul class="w3-ul w3-card" style="width:90%">
		<% for(var idx in projects) { %>
			<% const temp = JSON.parse(projects[idx]); %>
			<% if(temp.status == "finished") { %>
				<li>
					<%= temp.title.toUpperCase() %>
					<a href="/activeprojects/<%= temp.id %>" class="btn btn-primary">More Info</a>
				</li>
			<% } %>
    	<% } %>
  	</ul>
  <br>
</div>
<%- include("../partials/footer") %>
